/* Responsive design for small or large portrait orientation */

body {
  padding-top:;
}

h1 {
  position: fixed;
  text-align: center;
  font-family: sans-serif;
  color: #0a105c;
  background-color: #cdc5ff;
  opacity: .7;
  width: 100%;
  margin: 0;
  top: 0;
  left: 0;
}

.logo {
  text-align: center;
}

svg {
  padding-top: 50px;
  height: 100px;
}

.mainNavflex {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

img {
  float: left;
  padding-top:;
  width: 25%;
  height: 25%;
}

article {
  width: 90%;
  overflow: auto;
  padding: 20px;
  display: table;
}


/*.flexcontainer {
  display:flex;
  flex-flow: row wrap;
  justify-content: space-around;
}*/

.content {
  overflow: auto;
}

/* Horizontal media */

@media only screen
  and (min-width: 768px)
  and (max-width: 1024px)
  and (orientation:landscape) {

      .mainNavflex {
        position: fixed;
        float: left;
        text-align: left;
      }
    }
